* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background: #FFFFFF;
  display: flex;
}

.slip-bg {
  /* background: linear-gradient (to top, #eb4157, #ef5e71, #eb4157);  */

  /* there are don't work linear and other gradients here */

  background-color: #ef5e71;
  height: 700px;
  width: 1050px;

  position: relative;

  margin-top: 25px;
}

.slip-bg img {
  position: absolute;
  left: 170px;
  top: 60px;

  width: 600px;
  height: 530px;
}

.ellipse {
  position: absolute;
  left: 240px;
  top: 130px;

  width: 540px;
  height: 540px;
  border-radius: 50%;
  background: #e63d55;
}

.slip {
  padding-top: 25px;

  width: 1050px;
  height: 939px;
  background: #eb3a52;
}

.lang {
  padding-bottom: 50px;
  padding-left: 950px;
}

.lang button {
  font-family: 'Quicksand', sans-serif;
  color: #ff7488;
  font-size: 25px;
  font-weight: 900;
  background: 0;
  border: 0;
  margin-right: 5px
}

.lang button:hover {
  transition: 0.4s;
  color: #FFFFFF;
}

.lang button:not(:hover) {
  transition: 0.4s;
}

.price {
  width: 1050px;
  height: 939px;
  margin-top: 130px;
}

.container {
  width: 585px;
  margin: 0 auto;
}
