* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
  
  body {
    height: auto;
    max-width: 1920px;
  }
  
  .container {
    max-width: 1800px;
    margin: 0 auto;
  }
  
  header {
    background: #e93951;
    max-width: 1920px;
    height: 140px;
    padding: 50px 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
  }
  
  header img {
    width: 70px;
    height: 30px;
  }

  .choose {
    width: 487px;
  }
  
  .males a{
    font-size: 21px;
    text-decoration: none;
    color: #ff7488;
    font-family: 'Oswald', sans-serif;
    margin: 0 20px;
    font-weight: 900;
  }
  
  .males a:hover {
    color: #FFFFFF;
    transition: 0.3s;
  }
  
  .males a:not(:hover) {
    transition: 0.3s;
  }
  
  .males a:first-child {
    color: #FFFFFF;
  }
  
  header .fas {
    display: none;
  }

  .slider {
    height: 800px;
    background: linear-gradient(to top, #ea3e55, #ee5a6e, #ea3e55);
    position: relative;
  }

  .flex {
      display: flex;
      justify-content: space-between;
  }

  .cont {
      max-width: 1260px;
      margin: 0 auto;
      padding-top: 130px;
  }

  .slider img {
      z-index: 2;
  }

  .ell {
      width: 450px;
      height: 450px;
      background: #e63d55;
      border-radius: 50%;
      position: absolute;
      left: 1050px;
      z-index: 1;
  }

  .slider .text  h1{
      font-weight: bold;
      font-size: 84px;
      font-family: 'Oswald', sans-serif;
      color: #FFFFFF;
  }

  .slider .text  h1:not(:first-child){
    font-weight: 200;
}

.slider .text p {
    width: 435px;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 29px;
}

.two {
  display: flex;
  justify-content: space-between;
}

.half {
  width: 880px;
  height: 510px;
  background-color: #f6f6f6;
  margin-top: 170px;
  padding-left: 88px;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

.type {
  border: 1px solid #aeaeae;
  padding: 8px 15px;
  width: 233px;
  color: #aeaeae;
  font-size: 16px;
  margin-top: 111px;
  border-radius: 5px;
}

.half h1 {
  font-size: 77px;
  color: #474747;
  font-weight: 900;
}

.half h2 {
  font-size: 53px;
  color: #6a6a6a;
  font-weight: 400;
}

.str {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 53px;
}

.str img {
  width: 70px;
  height: 25px;
  margin-top: 27px;
}

.half button {
  width: 225px;
  height: 56px;
  padding: 21px 14px;
  background: #ef4a61;
  font-size: 16px ;
  color: #FFFFFF;
  border-radius: 5px;
  margin-top: 48px;
}

#i10{
 position: absolute;
 right: 0;
 bottom: 80px;
}
#i11{
  position: absolute;
  right: 60px;
  bottom: 45px;
  width: 335px;
  height: 420px;
 }