* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  height: auto;
  max-width: 1920px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

header {
  background: #e93951;
  max-width: 1920px;
  height: 140px;
  padding: 50px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 70px;
  height: 30px;
}

.choose {
  width: 487px;
}

.males a{
  font-size: 21px;
  text-decoration: none;
  color: #ff7488;
  font-family: 'Oswald', sans-serif;
  margin: 0 20px;
  font-weight: 900;
}

.males a:hover {
  color: #FFFFFF;
  transition: 0.3s;
}

.males a:not(:hover) {
  transition: 0.3s;
}

.males a:first-child {
  color: #FFFFFF;
}

header .fas {
  display: none;
}

.main .container {
  display: flex;
  justify-content: space-between;
}

.place {
  margin-top: 70px;
}

.place p {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color: #fb5068;
}

.place p span {
  color: #474747;
  font-size: 21px;
}

.place p span:first-child {
  color: #a2a2a2;
}

.field {
  width:367px;
  height:257px;
  background: #f6f6f6;
  border-radius: 4%;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
}

.models label , .collections label {
  margin-top: -19px;
  margin-left: 68px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3a3a3a;
}

.field input , .collections input {
  margin-left: 33px;
  margin-top: 35px;
}

.models button , .collections button {
  background: 0;
  border: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3a3a3a;
  margin-left: -205px;
  margin-top: 35px;
}

.h {
  font-size: 21px;
  font-family: 'Oswald', sans-serif;
  color: #3a3a3a;
  margin-top: 73px;
}

.models button i , .collections button i {
  font-size: 13px;
  color: #d7443b;
}

.type-of-sport label {
  margin-top: -19px;
  margin-left: 68px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3a3a3a;
}

.color {
  height: 72px;
  width: 367px;
  background: #f6f6f6;
  border-radius: 4%;
  flex-direction: row;
  padding-top: 24px;
  padding-left: 15px;
  margin-bottom: 626px;
}

.color button{
  width: 26px;
  height: 26px;
  margin: 0 10px;
  border-radius: 50%;
  position: relative;
}

.color button i {
  display: none;
  color: #FFFFFF;
  font-size: 12px;
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.white-but {
  background: #FFFFFF;
}

.gray-but {
  background: #e5e5e5;
}

.blue-but {
  background: #268ab9;
}

.red-but {
  background: #d7443b;
}

.green-but {
  background: #bcd7a3;
}

.purple-but {
  background: #884a97;
}

.black-but {
  background: #383838;
}

#search {
  height: 63px;
  max-width: 1341px;
  background: #f6f6f6;
  border-radius: 5px;
  font-size: 15px;
  padding: 26px;
  font-family: 'Oswald', sans-serif;
  margin-top: 49px;
}

.slips-block {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.slip img {
  width: 315px;
  height: 235px;
  border-radius: 5px 5px 0 0 ;
}

.slip {
  width: 315px;
  height: 380px;
  border-radius: 5px 5px 0 0 ;
  background: #fafafa;
}

.slip figcaption {
  padding: 25px 34px;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name h2 {
  font-size:18px;
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.name h2 span{
  color: #323232;
  font-weight: 900;
}

.name img {
  height: 16px;
  width: 41px;
}

.slip p {
  color: #959595;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  margin-top: 14px;
}

.slip .price {
  text-align: right;
  color: #414141;
  font-size: 18px;
  font-weight: 900;
}

.first-slips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.second-slips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.third-slips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.fourth-slips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

@media (max-width:1024px) {
  .container {
    max-width: 904px;
  }

  header {
    max-width: 1024px;
  }

  header .fas {
    display: block;
    font-size: 30px;
    color:#FFFFFF;
  }

  header img {
    display: none;
  }

  .choose {
    position: absolute;
    background: rgba(56, 56, 56, 0.3);
    left: 0px;
    padding: 40px 60px;
    width: 487px;
    display: none;
  }

  .color {
    margin-bottom: 0;
  }

  #search {
    width: 900px;
  }

  .flex-media {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .slips {
    display: inline;
  }

  .first-slips, .second-slips, .third-slips, .fourth-slips {
    display: inline;
    margin-bottom: 0;
  }

  .slip {
    margin-bottom: 28px;
  }
}

@media (max-width:768px) {
  .container {
    max-width: 648px;
  }

  #search {
    width: 640px;
  }
}

@media (max-width:414px) {
  .container {
    max-width: 354px;
  }

  #search {
    width: 350px;
  }

  header {
    max-width: 414px;
  }

  .flex-media {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 15px;
  }

  .males a{
    font-size: 16px;
    text-decoration: none;
    color: #ff7488;
    font-family: 'Oswald', sans-serif;
    margin: 0 10px;
    font-weight: 900;
  }

  header .fas {
    display: block;
    font-size: 25px;
    color:#FFFFFF;
  }

  .choose {
    padding: 30px;
    max-width: 414px;
  }
}

@media (max-width:375px) {
  #search {
    width: 350px;
  }

  .choose {
    padding: 15px;
    max-width: 375px;
  }

  .field {
    width: 345px;
  }
}

@media (max-width:360px) {
  #search {
    width: 340px;
  }

  .choose {
    padding: 15px;
    max-width: 360px;
  }

  .field {
    width: 330px;
  }

  .color button{
    margin: 0 5px;
  }

  .color {
    width: 330px;
  }
}

@media (max-width:320px) {
  .container {
    max-width: 310px;
  }

  #search {
    width: 310px;
  }

  .choose {
    padding: 15px;
    max-width: 320px;
  }

  .field {
    width: 300px;
  }

  .color button{
    margin: 0 5px;
  }

  .color {
    width: 300px;
  }

  header {
    width: 320px;
  }

  .flex-media {
    margin-left: 0;
  }

  .males a{
    font-size: 13px;
  }

  header .fas {
    font-size: 20px;
  }
}